<h3>EDIT COMMENT</h3>
<%# raise %>
<%= form_for @comment, :url => post_comment_path( @post, params[:id] ) do |n|  %>

<div class="form-group">
  <%= n.label :title, "Title" %>
  <%= n.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= n.label :content, "Content" %>
  <%= n.text_area :content, :class => "form-control" %>
</div>

<%= n.submit "Update", :class => "btn btn-primary" %>
<%= link_to "Cancel", :back, :class => "btn btn-info" %>

<% end %>
