<div class="form-group">
  <%= n.label :category_id, "Category" %>
  <%= n.select :category_id, Category.all.map{ |x| [x.name, x.id] },{} , :class => 'form-control' %>
</div>

<div class="form-group">
  <%= n.label :title, "Title" %>
  <%= n.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= n.label :content, "Content" %>
  <%= n.text_area :content, :class => "form-control" %>    
</div>