

<div class="btn-group" role="group">
<div class="btn-group" role="group">
  <!-- Category filter -->
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Category filter
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li>
        <%= link_to "All", posts_path %>
      </li>
      <li role="separator" class="divider"></li>
      <% Category.all.map do |x| %>
        <li>
          <%= link_to posts_path( :cid => x, :tag => params[:tag] ) do %> 
          <%= x.name %> <span class="badge pull-right"><%= x.posts.size %></span>
          <% end %>
        </li>
        <li class="clearfix"></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="btn-group" role="group">
  <!-- Tag filter -->
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Tag filter
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% Tag.all.map do |x| %>
        <li>
          <%= link_to posts_path( :tag => x.name, :cid => params[:cid] ) do %> 
          <%= x.name %> <span class="badge pull-right"><%= x.posts.size %></span>
          <% end %>
        </li>
        <li class="clearfix"></li>
      <% end %>
    </ul>
  </div>
  </div>

</div>
<br>

<!-- pages -->
<%= paginate @posts, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
<br>

<!-- List post -->
<table class="table table-striped table-hover">
  <tr class="info">
    <th></th>
    <th>Tag</th>
    <th>
      <!-- sort by category -->
      <%= link_to posts_path( :cid => params[:cid], :tag => params[:tag], :order => "category" ) do %>
        Category <i class="caret"></i>
      <% end %>
    </th>
    <th><p>Title</p></th>
    <th>
      <!-- sort by comments -->
      <%= link_to posts_path(:cid => params[:cid], :tag => params[:tag], :order => "comments")  do %> 
        Comments <i class="caret"></i>
      <% end %>
    </th>
    <th>
      comment_user
    </th>
    <th>
      <!-- sort by last_comment_time -->
      <%= link_to posts_path(:cid => params[:cid], :tag => params[:tag], :order => "last_comment_time")  do %> 
        Last_comment_time <i class="caret"></i>
      <% end %>
    </th>
    <th>
      <!-- sor by views -->
      <%= link_to posts_path(:cid => params[:cid], :tag => params[:tag], :order => "views")  do %> 
        Views <i class="caret"></i>
      <% end %>
    </th>
    <th><p>Created by</p></th>
    <th>
      <!-- sort by post_created_time -->
      <%= link_to posts_path(:cid => params[:cid], :tag => params[:tag], :order => "createtime")  do %> 
        Created_at <i class="caret"></i>
      <% end %>
    </th>
    <th></th>
  </tr>
  <% @posts.each do |p| %>
    <tr id="post<%=p.id%>">
      <td>
        <% if current_user %>
          <% if current_user.favorites.find_by_post_id(p) %>
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true" style="color:#f66"></span>
          <% end %>
          <% if current_user.role == 1 %>
            <!-- <input type="checkbox" name="post" value="<%=p.id%>" > -->
          <% end %>
        <% end %>
      </td>
      <td>
        <!-- Show tag -->
        <% unless p.tags.size==0 %>
          <% p.tags.map do |x| %>
           <%= x.name %>
          <% end %>
        <% end %>
      </td>
      <td><%= p.category.try(:name) %></td>
      <td>
        <%= link_to post_path(p) do %>
          <!-- if post has picture -->
          <% if p.upload_file.exists? %>
            <i class="glyphicon glyphicon-picture" data-container="body" data-toggle="popover" data-content='<img src="<%= p.upload_file.url(:medium) %>">'><%= p.title %></i>
          
          <% else %>
            <%= p.title %>
          <% end %>
        <% end %>
      </td>
      <td><%= p.comcount %></td>
      <td>
        <!-- list comment user in this post -->
        <% p.comment_users.each do |u| %>
          <%= link_to u.name, profile_path(u) %>
        <% end %>
      </td>
      <td>
        <% if p.try(:last_comment_time) %>
          <small> <%= time_ago_in_words(p.last_comment_time) %> ago</small>
        <% else %>
          <small><i>no comment yet</i></small>
        <% end %>
      </td>
      <td><%= p.view %></td>
      <td>
        <!-- Link to user's profile -->
        <%= link_to profile_path(p.user.id) do %>
          <%= p.user.try(:name) %>
        <% end %>
      </td>
      <td>
        <small><%= time_ago_in_words(p.created_at) %> ago</small> 
      </td>
      <td>
        <!-- Owner or Admin can Delete, only Owner can edit. -->
        <% if current_user %>
          
          <% if current_user == p.user %>
            <%= link_to edit_post_path(p), :class => "btn btn-xs" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          <% end %>

          <% if current_user == p.user || current_user.admin? %>
            <%= link_to post_path(p),:method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs pull-right", remote: true do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
            <div class="clearfix"></div>
          <% end %>
          
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<!-- pages -->
<%= paginate @posts, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
<br>

<!-- Post need login -->
<% if current_user %>
  <%= link_to "New Post", new_post_path, :class => "btn btn-success" %>
<% else %>
  <%= link_to "New Post", new_session_path(:user), :class => "btn btn-success" %>
<% end %>



