
<!-- Category filter -->
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Category filter
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <%= link_to "All", posts_path %>
    </li>
    <li role="separator" class="divider"></li>
    <% Category.all.map do |x| %>
      <li>
        <%= link_to x.name, posts_path( :where => "#{x.name}" ) %>
      </li>
    <% end %>
  </ul>
</div>


<!-- pages -->
<%= paginate @posts, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
<br>

<!-- List post -->
<table class="table table-striped table-hover">
  <tr class="info">
    <th></th>
    <th>
      <!-- sort by category -->
      <% if cat = params[:where] %>
        Category
      <% else %>
        <%= link_to posts_path( :order => "category" ) do %>
          Comments <i class="caret"></i>
        <% end %>
      <% end %>
    </th>
    <th><p>Title</p></th>
    <th>
      <!-- sort by comments -->
      <% if cat = params[:where] %>
        <% filter_sort = posts_path(:where => cat, :order => "comments") %>
      <% else %>
        <% filter_sort = posts_path(:order => "comments") %>
      <% end %>
      <%= link_to filter_sort  do %> 
        Comments <i class="caret"></i>
      <% end %>
    </th>
    <th>
      comment_user
    </th>
    <th>
      <!-- sort by last_comment_time -->
      <% if cat = params[:where] %>
        <% filter_sort = posts_path(:where => cat, :order => "last_comment_time") %>
      <% else %>
        <% filter_sort = posts_path(:order => "last_comment_time") %>
      <% end %>
      <%= link_to filter_sort  do %> 
        Last_comment_time <i class="caret"></i>
      <% end %>
    </th>
    <th>
      <!-- sor by views -->
      <% if cat = params[:where] %>
        <% filter_sort = posts_path(:where => cat, :order => "views") %>
      <% else %>
        <% filter_sort = posts_path(:order => "views") %>
      <% end %>
      <%= link_to filter_sort  do %> 
        Views <i class="caret"></i>
      <% end %>
    </th>
    <th><p>Created by</p></th>
    <th>
      <!-- sort by post_created_time -->
      <% if cat = params[:where] %>
        <% filter_sort = posts_path(:where => cat, :order => "createtime") %>
      <% else %>
        <% filter_sort = posts_path(:order => "createtime") %>
      <% end %>
      <%= link_to filter_sort  do %> 
        Created_at <i class="caret"></i>
      <% end %>
    </th>
    <th></th>
  </tr>
  <% @posts.each do |p| %>
    <tr>
      <td>
        <% if current_user %>
          <% if current_user.role == 1 %>
            <!-- <input type="checkbox" name="post" value="<%=p.id%>" > -->
          <% end %>
        <% end %>
      </td>
      <td><%= p.category.try(:name) %></td>
      <td>
        <%= link_to p.title, post_path(p) %>
        <!-- if post has picture -->
        <% if p.upload_file.exists? %>
          <i class="glyphicon glyphicon-picture"></i>
        <% end %>
      </td>
      <td><%= p.comcount %></td>
      <td>
        <!-- list comment user in this post -->
        <% b = p.comments.map do |x|  x.user.name  end %>
        <% b.uniq.map do |y| %>
          <%= y %>
        <% end %>
      </td>
      <td>
        <% if p.try(:last_comment_time) %>
          <%= p.try(:last_comment_time) %>
        <% else %>
          no comment yet
        <% end %>
      </td>
      <td><%= p.view %></td>
      <td>
        <!-- Link to user's profile -->
        <%= link_to profile_path(p.user.id) do %>
          <%= p.user.try(:name) %>
        <% end %>
      </td>
      <td><%= p.created_at %></td>
      <td>
        <!-- Owner or Admin can Delete, only Owner can edit. -->
        <% if current_user %>
          <% if current_user.id == p.user_id %>
            <%= link_to "Edit", edit_post_path(p), :class => "btn btn-primary btn-xs" %>
          <% end %>
          <% if current_user.id == p.user_id or current_user.role == 1 %>
            <%= link_to "Delete", post_path(p),:method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger btn-xs pull-right" %>
            <div class="clearfix"></div>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<!-- pages -->
<%= paginate @posts, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
<br>

<!-- Post need login -->
<% if current_user %>
  <%= link_to "New Post", new_post_path, :class => "btn btn-success" %>
<% else %>
  <%= link_to "New Post", new_session_path(:user), :class => "btn btn-success" %>
<% end %>



