<!-- FB like button script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- FB share button script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- FB Like button -->
<div class="fb-like pull-left"></div>
<!-- FB share button -->
<div class="fb-share-button pull-right" data-href="https://localhost:3000/<%=post_path%>" data-layout="button"></div>
<div class="clearfix"></div>


<!-- show post -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= @post.title %></strong>
    <!-- add to favorite -->
    <% if current_user %>
      <% if current_user.favorites.find_by_post_id(@post) %>
        <%= link_to favorite_path(@post), :class => "btn btn-danger btn-xs pull-right" do%>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> UnFavorite?
        <% end %>
      <% else %>
        <%= link_to favorite_path(@post), :class => "btn btn-danger btn-xs pull-right" do%>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="panel-body">
    <%= @post.content %> <br>
    <% if @post.upload_file.exists? %>
      <%= link_to image_tag(@post.upload_file.url(:medium)), @post.upload_file.url %>
    <% end %>
    <br><br><br>
    <!-- List tags -->
    <% unless @post.tags.size==0 %>
      Tags:
      <% @post.tags.map do |x| %>
       <small><i><%= x.name %></i></small>
      <% end %>
    <% end %>
  </div>
  <div class="panel-footer">
    <small>
      create_by <strong><%= @post.user.name %></strong> at <%= @post.created_at %>
      <% if current_user %>
        <% if current_user.id == @post.user_id %>
          <%= link_to "Edit", edit_post_path(@post), :class => "btn btn-primary btn-xs pull-right" %>
        <% end %>
      <% end %>
    </small>
    <div class="clearfix"></div>
  </div>
</div>
<!-- show post -->



<!-- list comment -->
<!-- filter comment_status_public -->
<% @post_comments.where(status:1).each do |comment| %>

  <div class="panel panel-info">
    <div class="panel-heading"><strong><%= comment.title %></strong></div>
    <div class="panel-body"><%= comment.content %></div>
    <div class="panel-footer">
      <small>
        create_by <strong><%= comment.user.try(:name) %></strong> at <%= comment.created_at %>
      </small>
      <!-- Owner and Admin can edit, delete. -->
      <% if current_user %>
        <% if current_user.id == comment.user_id or current_user.role == 1 %>
          <%= link_to 'Delete', post_comment_path(@post, comment), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs btn-danger pull-right" %>
          <!-- Only Owner can delete -->
          <% if current_user.id == comment.user_id %>
          <%= link_to "Edit", edit_post_comment_path(@post, comment), :class => "btn btn-xs btn-primary pull-right" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>

<% end %>

<!-- list comment -->



<!-- comment area -->
<!-- comment need login -->
<% if current_user %>

  <%= form_for @comment, :url => post_comments_path(@post) do |c| %>

    <div class="form-group">
      <%= c.label :title, "Title" %>
      <%= c.text_field :title, :class => "form-control", :required => "required" %>
    </div>

    <div class="form-group">
      <%= c.label :content, "Content" %>
      <%= c.text_area :content, :class => "form-control", :required => "required" %>
    </div>

    <%= c.submit "Comment", :class => "btn btn-primary" %>
    
    <%= link_to "Back to index", posts_path, :class => "btn btn-info pull-right" %>
    <div class="clearfix"></div>

  <% end %>

<% end %>
<!-- comment area -->



