<!-- FB like button script -->
<div id="fb-root"></div>

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- FB Like button -->
<div class="fb-like pull-left"></div>
<!-- FB share button -->
<div class="fb-share-button pull-right" data-href="https://localhost:3000/<%=post_path%>" data-layout="button"></div>
<div class="clearfix"></div>


<!-- show post -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= @post.title %></strong>
    <!-- Favorite -->
    <% if current_user %>
        <%= link_to favorite_post_path(@post), 
          :id => "favbutton", :class => "btn btn-danger btn-xs pull-right", remote: true, 
          :method => :post, :"data-toggle"=>"popover", :"data-placement"=>"left", 
          :"data-content"=>"<h6 class='text-center' style='color:black;'>Add to favorites.</h6>" do%>
          <% if current_user.favorites.find_by_post_id(@post) %>
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>     
          <% else %>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 
          <% end %>
        <% end %>
    <% end %>
    <!-- Like -->
    <% if current_user %>
        <%= link_to like_post_path(@post), :id => "likebutton", 
          :class => "btn btn-warning btn-xs pull-right", remote: true, :method => :post, 
          :"data-toggle"=>"popover", :"data-placement"=>"left", 
          :"data-content"=>"<h6 class='text-center' style='color:black;'>Like this post.</h6>" do%>
          
          <% if current_user.likes.find_by_post_id(@post) %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
          <% else %>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
          <% end %>

          <span class="label label-warning label-as-badge"><%= @post.likes.size %></span>
        <% end %>
    <% end %>

  </div>
  <div class="clearfix"></div>
  <div class="panel-body">
    <%= @post.content %> <br>
    <% if @post.upload_file.exists? %>
      <%= link_to image_tag(@post.upload_file.url(:medium)), @post.upload_file.url %>
    <% end %>
    <br><br>
    <!-- Who like this post. -->
    <p>These people also like this post:</p>
    <% @post.likes.all.map do |x| %>
    <small><i><%= x.user.name %></i></small>
    <% end %>
    <br><br>
    <!-- List tags -->
    <% unless @post.tags.size==0 %>
      Tags:
      <% @post.tags.map do |x| %>
       <small><i><%= x.name %></i></small>
      <% end %>
    <% end %>
  </div>
  <div class="panel-footer">
    <small>
      create_by <strong><%= @post.user.name %></strong> at <%= @post.created_at %>
      
      <% if current_user && current_user == @post.user %>
          <%= link_to edit_post_path(@post), :class => "btn btn-xs pull-right" do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
      <% end %>

    </small>
    <div class="clearfix"></div>
  </div>
</div>
<!-- show post -->



<!-- list comment -->
<div id="commentlist">
  <!-- filter comment_status_public -->
  <% @post_comments.where(status:1).each do |comment| %>
    <%= render :partial => "comments/comment", :locals => { :comment => comment } %>
  <% end %>
</div>
<!-- list comment -->

<!-- comment area -->
<!-- comment need login -->
<% if current_user %>

  <%= form_for @comment, :url => post_comments_path(@post), remote: true do |c| %>

    <div class="form-group" id="newtitle">
      <%= c.label :title, "Title" %>
      <%= c.text_field :title, :class => "form-control", :required => "required" %>
    </div>

    <div class="form-group" id="newcontent">
      <%= c.label :content, "Content" %>
      <%= c.text_area :content, :class => "form-control", :required => "required" %>
    </div>

    <div class="form-group">
      <%= c.label :status, "Status" %>
      <!-- status at models/post.rb -->
      <%= c.select :status, Post::STATUS %>
    </div>

    <%= c.submit "Comment", :class => "btn btn-primary" %>
    
    <%= link_to "Back to index", posts_path, :class => "btn btn-info pull-right" %>
    <div class="clearfix"></div>

  <% end %>

<% end %>
<!-- comment area -->



