<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <div class="page-header">
      <h1><%= link_to "Tipsy Forum", posts_path %></h1>
    </div>
  </header>

  <!-- Flash message -->
  <% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
    </div>
  <% end %>
  <!-- Flash message -->

  <!-- user message -->
  <div class="pull-right">
    <% if current_user %>
        <span>Hi! </span>
        <%= link_to profile_path(current_user.id) do %>
          <strong><%= current_user.name %></strong>
          <!-- show user's image -->
          <% if current_user.image? %>
            <%= image_tag((current_user.image), :style => "width: 15px") %>
          <% end %>
        <% end %> |
        <%= link_to('Log out', destroy_user_session_path, :method => :delete) %> |
        <%= link_to('Edit', edit_registration_path(:user)) %> |
      <% else %>
        <%= link_to('Sign up', new_registration_path(:user)) %> |
        <%= link_to('Log in', new_session_path(:user)) %> |
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> |
      <% end %>
    <% if current_user %>
      <% if current_user.role == 1 %>
        <%= link_to 'Admin', admin_posts_path %>
      <% end %>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="emptyarea30px"></div>


<%= yield %>


  <footer>
  <div class="emptyarea30px"></div>
    <div class="pull-right">
      <%= link_to "About this site", about_path %>
    </div>
    <div class="clearfix"></div>
  </footer>

  <!-- FB like button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- FB like button -->

  <!-- FB share button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- FB share button -->

</body>
</html>
